<html><head>
</head>

<div class="col-lg-7 col-md-offset-1">
  <h3> Enter Stock Purchase Details<br/><br/></h3>
  <h4 class="label label-pill label-info">Add to Profile:&nbsp;&nbsp;</h4>
  &nbsp;&nbsp;&nbsp;&nbsp;<label class="radio-inline" ng-repeat="item in acctrl.profileList" style="width: 10%">
      <input type="radio" name="profileName" ng-model="acctrl.profileRadio" ng-value="item.name" />{{item.name}}
  </label>
  <br/><br/>
<input type="textbox" placeholder="Ticker Symbol" ng-model="acctrl.tickerSymbol" capitalize/>&nbsp;&nbsp;
<input type="textbox" placeholder="Number of Shares" ng-model="acctrl.numOfShares"/>&nbsp;&nbsp;
  <input type="text" placeholder="Purchase Date" ng-model="acctrl.startDate"
         data-date-format="yyyy-MM-dd"  date-type="string"
         data-min-date="02/10/86" data-max-date="today" data-autoclose="1" name="date2" bs-datepicker>&nbsp;&nbsp;
<input type="button" class="btn btn-primary" ng-click="acctrl.addStock(acctrl.profileRadio, acctrl.tickerSymbol, acctrl.numOfShares, acctrl.startDate)" value="Add"/>

  <br/><br/>

  <h4><span><b>Name:&nbsp;</b></span><span ng-bind="acctrl.result.Name"></span><br/></h4>
  <h4><span><b>Symbol:&nbsp;</b></span><span ng-bind="acctrl.displaySymbol"></span><br/></h4>
  <h4><span><b>Exchange:&nbsp;</b></span><span ng-bind="acctrl.result.Exchange"></span><br/></h4>

  <br/><br/>

  <div>
    <table class="table table-striped table-hover col-md-offset-1" width="50%" ng-hide="acctrl.stocksProfile==null||acctrl.stocksProfile.length==0">
      <thead>
      <tr>
        <th>Date</th>
        <th>Symbol</th>
        <th>Name</th>
        <th>High</th>
        <th>Low</th>
        <th>Close</th>
        <th>Num.Shares</th>
        <th>Invested Amount (Approx.)</th>
        <th></th>
      </tr>
      </thead>
      <tr ng-repeat="row in acctrl.stocksProfile">
        <td>{{row.Date}}</td>
        <td>{{row.ticker}}</td>
        <td>{{row.name}}</td>
        <td>$ {{row.high}}</td>
        <td>$ {{row.low}}</td>
        <td>$ {{row.close}}</td>
        <td>{{row.numOfShares}}</td>
        <td>$ {{ acctrl.getRoundedPrice(row.close  * row.numOfShares)}}</td>
        <td><span class="label label-pill label-success">Added to {{row.profileName}}</span></td>
      </tr>
    </table>
  </div>

</div>
</html>
