<html><head>

  <style type="text/css">
    .big-checkbox {
      width: 19px;
      height: 19px;
    }

    .red {
      color: red;
      font-weight: bold;
    }

    .green {
      color: green;
      font-weight: bold;
    }

    .bold{
      font-weight: bold;
    }
  </style>



</head>

<div class="col-lg-10 col-md-offset-1">

  <h3  ng-show="slistctrl.profileRadio">{{slistctrl.profileRadio}}'s List of Stocks</h3>

  <h3  ng-show="!slistctrl.profileRadio">List of Stocks</h3><br/><br/>

  <h4 class="label label-pill label-info" ng-show="slistctrl.profileList.length">Select a Profile:&nbsp;&nbsp;</h4>


  <label class="radio-inline" ng-repeat="item in slistctrl.profileList" style="width: 10%">
    <input type="radio" name="profileName" ng-model="slistctrl.profileRadio" ng-value="item.name" ng-click="slistctrl.getOverAllNet(item.name)"  />{{item.name}}
  </label>


  <div>
    <table class="table table-striped table-hover" width="55%" ng-hide="slistctrl.stocksProfile==null||slistctrl.stocksProfile.length==0">
      <thead>
      <tr>
        <th>Profile</th>
        <th>Invested Date</th>
        <th>Symbol</th>
        <th>Stock</th>
        <th>Num.Shares</th>
        <th>Price<br/>(Invested Date)</th>
        <th>Invested Amount<br/> (Invested Date)</th>
        <th>Price<br/> (As of Last Traded)</th>
        <th>Invested Amount<br/> (As of Last Traded)</th>
        <th>Net Investment</th>
      </tr>
      </thead>
      <tr ng-repeat="row in slistctrl.stocksProfile | filter:slistctrl.profileRadio">
        <td><span class="label label-pill label-info">{{row.profileName}}</span></td>
         <td class="bold">{{row.Date}}</td>
        <td class="bold">{{row.ticker}}</td>
        <td class="bold">{{row.name}}</td>
        <td class="bold">{{row.numOfShares}}</td>
        <td class="bold">$ {{row.close}}</td>
        <td class="bold">$ {{ slistctrl.getRoundedPrice (row.close * row.numOfShares)}}</td>
        <td ng-class="{red: row.close > row.lastTradedPrice
                      ,green: row.close < row.lastTradedPrice }">$ {{row.lastTradedPrice}}</td>
        <td ng-class="{red: row.close > row.lastTradedPrice
                      ,green: row.close < row.lastTradedPrice }">$ {{ slistctrl.getRoundedPrice ( row.lastTradedPrice * row.numOfShares)}}</td>
        <td ng-class="{red: row.close > row.lastTradedPrice
                      ,green: row.close < row.lastTradedPrice }" >
          $ {{ slistctrl.getRoundedPrice ((row.lastTradedPrice * row.numOfShares) - (row.close * row.numOfShares))}}
        </td>
      </tr>
    </table>

    <br/><br/>
    <h4><span class="bold" ng-hide="slistctrl.net==''">{{slistctrl.profileRadio}}'s Total Net: $ </span><span ng-class="{red: slistctrl.net < 0
                      ,green: slistctrl.net > 0 }">{{slistctrl.net}}</span></h4>

  </div>

</div>
</html>
