<!DOCTYPE html>
<html>
<head>
  <style type="text/css">
    :required:focus {
      box-shadow: 0 0 3px rgba(255, 0, 0, 0.5);
    }
  </style>
</head>
<body>
<form>
<div class="row">
  <div class="input-group col-xs-4 col-md-offset-1">
    <input type="text" required placeholder="Enter a Profile Name" class="col-xs-3 form-control col-md-offset-1 "
           ng-model="ctrl.profileName">
  <span class="input-group-btn">
    <button class="btn btn-default btn btn-primary" ng-click="ctrl.addProfileName(ctrl.profileName)">Add</button>
  </span>
  </div>
<div class="input-group col-xs-4 col-md-offset-1">
    <br/><br/><br/><br/>
    <h4 ng-show="ctrl.profileList.length" class="col-md-offset-1">Available Profiles<br/></h4>
    <table class="table table-striped table-hover col-md-offset-1"  ng-show="ctrl.profileList.length">
      <th>Name</th>
      <th>Action</th>
      <tr ng-repeat="item in ctrl.profileList">
        <td><span ng-bind="item.name"></span></td>
        <td><input type="button" class="btn btn-primary" ng-click="ctrl.deleteProfile($index)" value="Delete" />
        </td>
      </tr>
    </table>
  </div>
</div>
</form>
</body>
</html>

